@model IEnumerable<BookDetailedViewModel>

@foreach (var item in Model)
{
    <partial name="_BookItem" model="item" />
}






























@* @foreach (var item in Model)
{
    <div style="border:1px #000 solid; padding:10px">
        @item.Name<br>
        @item.AuthorName<br>
        @item.PageCount sayfa
    </div>
    <hr />
}



 *@