@using BookShop.Business.Repositories;
@inject IBookRepository service
@model Category
<div class="row">
    <div class="col-3">
        <partial name="_CategoryList" model="Model.Id"></partial>
    </div>
    <div class="col-9">
        <partial name="_BookItemList" model="@service.SearchWithDetailed(new BookSearchModel{ CategoryId=Model.Id } )" />
    </div>
</div>