@using BookShop.Business.Repositories;

@model Author

@inject IBookRepository service

<h1>@Model.FullName</h1>

<partial name="_BookItemList" model="@service.SearchWithDetailed(new BookSearchModel{ AuthorId=Model.Id } )" />
