@model List<BookDetailedViewModel>

<partial name="_BookSearch" />

<partial name="_BookItemList" model="Model" />



































@* <ul>
@foreach (var item in Model)
{
    <li>@item.Name- @item.Id - @item.AuthorName</li>
}

</ul>


 *@
